@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
<script>
    $(document).ready(function () {                
        menu1('NavAbout');
    });
</script>

<section id="feature" class="transparent-bg">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Domain Experts</h2>
            <p class="lead">Expertise can be defineed in many different ways in a fast changing world, PAL Solutions defines domain expertise as knowledge, technology passion, competence that have been acquired through a consistent track record of successful accomplished projects in various domain areas</p>
        </div>

        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-heart"></i>
                        <h2>Healthcare</h2>
                        <h3>We have a strong background in health care including HL7 format data, medical records, medical claims, medical laboratory etc.</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-book"></i>
                        <h2>Education</h2>
                        <h3>We have developed so many Education service related softwares in different platforms</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-money"></i>
                        <h2>Finance</h2>
                        <h3>Excellent knowledge in Finance, Account and Payroll related functionalities</h3>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-sitemap"></i>
                        <h2>Retail</h2>
                        <h3>Vast experience in Retail chain software development.</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-dashboard"></i>
                        <h2>eCommerce</h2>
                        <h3>We help you to develop new eCommerce site and integrate exsting one.</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-truck"></i>
                        <h2>Shipping and Logistic</h2>
                        <h3>We have good experience in Shipping and Logistic domain</h3>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.services-->
        </div><!--/.row-->


        <div class="get-started center wow fadeInDown">
            <h2>About PAL Solutions</h2>
            <p class="lead">
                Located in Pune, India. PAL Solutions offers effective and efficient cutting edge software development services that keep your business ahead one step. Specialist in Software Application Development, Mobile Application Development, Enterprise Application Development and Business Intelligence according the requirements
            </p>
        </div>
    </div><!--/.container-->
</section><!--/#feature-->
